.card {
  cursor: pointer;
  padding: 20px 15px 15px 15px;
  border: 1px solid #dbdadf;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 138px;
  height: 160px;
  transition: all 0.3s;

  &:hover {
    border-color: #03295a;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
  }
  &__price {
    font-size: 14px;
    color: #9b9ca0;
  }
  &__sale {
    font-size: 12px;
  }
}

.selected {
  border-color: #03295a;
  cursor: default;
}
